body{
  font-family: PTSans,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media screen and (max-width:580px){
  #nav-drawer .list-group{
    margin-top: 60px;
  }
}


div#fitem_id_city,
#fitem_id_firstnamephonetic,
#fitem_id_lastnamephonetic ,
#fitem_id_alternatename ,
#fitem_id_moodlenetprofile,
fieldset#id_moodle_interests ,
fieldset#id_moodle_optional ,
#fitem_id_profile_field_UF_VAVTADJSONS ,
#fitem_id_profile_field_UF_VAVT1CUNIID
{
  display: none;
}

.addfavoritevavt:before{
  cursor: pointer;
  content: "\f097";
  font-family: "FontAwesome";
}
.addfavoritevavt.addfav:before{
  font-family: "FontAwesome";
  content: "\f02e";
  color: #940d6c;
}

.localboostnavigationcollapsiblechild {
  padding-left: 40px;
}



/* подсказки при заполнении профиля */

#fitem_id_profile_field_contact_show label.d-inline.word-break::after,
#fitem_id_profile_field_expertise label.d-inline.word-break::after,
#fitem_id_profile_field_role_community label.d-inline.word-break::after{
  content: ' (для выбора неск. значений удерживайте Ctrl)';
  font-size: 0.7rem;
  color: #8d8d8d;
  white-space: pre;
}