<h3 class="eventdayofweek">{{{eventdayofweek}}}</h3>
<h1 class="eventday">{{{eventday}}}</h1>
<h5 class="timestr">{{timestr}}</h5>
<h5 class="name">{{name}}</h5>


<style>

    .block_calendar_upcoming_custom .eventdayofweek{
        text-transform: uppercase;
        color: #940d6c;
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 0;
    }
    .block_calendar_upcoming_custom .eventday{
        text-transform: uppercase;
        font-weight: 700;
        color: #940d6c;
        margin-bottom: 25px;
    }
    .block_calendar_upcoming_custom .name{
        margin-bottom: 50px;
    }
</style>