<hr>
<div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
        {{#match}}
            <h4 style="margin-top: 25px;">{{{name}}}</h4>
            {{{text}}}
            <br>
            <p>{{timemodified}}  <span>{{{user}}}</span>  {{#editlnk}}{{{editlnk}}}{{/editlnk}} {{#dellnk}}{{{dellnk}}}{{/dellnk}}</p>
        {{/match}}
    </div>
</div>
