<div class="row">
    <div class="col-md-12">
            <h4 style="margin-top: 25px;">{{{name}}}</h4>
            {{{text}}}

            <br>
            <p>{{timemodified}}  <span>{{{user}}}</span></p>

    </div>
</div>
