<div class="row">
    <div class="col-md-12 text-center">
        <img class="head_img_evt" src="{{picture_block_event}}">
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-md-12" style="margin-bottom: 20px;">
        {{{addbtn}}}
    </div>
    <hr>
    <div class="col-md-12">

        {{#match}}
            {{#montblock}}
                {{^firstblock}}</div>{{/firstblock}}
                <h4>{{montblock}}</h4>
                <div class="wrapper">
            {{/montblock}}

                <div class="item">
                    <div class="body_item">
                        <div style="position: relative;">
                            <span class='fa-stack fa-lg crklfvt'>
                                <span style="font-size: 1.4rem;" class="addfavoritevavt {{has_addfav}}" data-plugin="event" data-objid="{{eventid}}" aria-label="Добавить в избранное" title="Добавить в избранное"></span>
                            </span>
                                <span class="date_evsp">
                                <small>{{dateevent}}</small>
                            </span>
                            <img src="{{imgsrc}}" class="imgforevent" alt="...">
                        </div>



                        <div class="text_content">
                            <div style="display: flex; justify-content: space-between;">
                                <h4 class="card-title">{{{name}}}</h4>

                            </div>
                            <p class="card-text">{{{text}}}</p>
                            <p>{{{readlnk}}}</p>
                            <span style="text-align: right">{{#editlnk}}{{{editlnk}}}{{/editlnk}} {{#dellnk}}{{{dellnk}}}{{/dellnk}}</span>
                        </div>
                    </div>
                    <div class="footer_item">
<!--                        <p class="card-text"><small class="text-muted">{{dateevent}}</small></p>-->
                    </div>
                </div>

        {{/match}}
    </div>
</div>


<style>
    .head_img_evt{
        max-width: 100%;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 31%;
        /*min-width: 31%;*/
        margin: 15px 5px;
        border: 2px solid #dbdbdb;
        border-radius: 10px;
        position: relative;
    }
    @media screen and (max-width: 998px) {
        .item{
            width: 48%;
        }
    }
    @media screen and (max-width: 576px) {
        .item{
            width: 100%;
        }
    }
    .body_item{
        padding: 10px;
    }
    .crklfvt{
        font-size: 1.6rem;
        position: absolute;
        right: 5px;
        top: 5px;
        border-radius: 50%;
        background: #4e4e4e;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .date_evsp{
        position: absolute;
        left: 15px;
        bottom: 5px;
        background: #4e4e4e;
        /*width: 40px;*/
        /*height: 40px;*/
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 8px;
        color: #fff;
        border-radius: 5px;
    }
    .crklfvt .addfavoritevavt{
        color: #fff;
    }
    .crklfvt .addfavoritevavt.addfav:before{
        color: #fff;
    }
    .imgforevent{
        width: 100%;
        align-items: center;
        display: flex;
        object-fit: cover;
        height: 199px;
        border-radius: 10px;
    }
    .footer_item{
        padding: 0 10px 5px;
    }
</style>
