<div class="row">
    <div class="col-md-12 text-center">
        <img style="max-width: 100%; max-height: 250px;" src="{{{imgsrc}}}">
        <br>
        <img style="max-width: 100%;" src="{{url}}">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 style="margin-top: 25px;">{{{name}}}</h2>
<div class="alltag">
    <span>{{{tagregion}}}</span>
    <span>{{{tagindustry}}}</span>
    <span>{{{tagcategory}}}</span>
</div>


        <br>

            {{{text}}}

            <br>
<!--            <p>{{timemodified}}  <span>{{{user}}}</span></p>-->

        <h4>Ссылка на официальный сайт, страницы в соцсетях:</h4>
        {{{sitelink}}}
        <h4>Контактное лицо для связи:</h4>
        {{{contact}}}
    </div>
</div>

<style>
    .alltag span {
        background: #940d6c;
        color: #fff;
        padding: 2px 8px;
        margin-right: 5px;
        display: inline-block;
        margin-bottom: 3px;
    }
</style>