<div class="row" style="margin-top: 30px;">
    <div class="col-md-12" style="margin-bottom: 20px;">
        {{{addbtn}}}
    </div>
    <hr>
    <div class="col-md-12">
        {{#match}}
            <div class="card mb-3" style="max-width: 1100px;">
                <div class="row no-gutters">
                    <div class="col-md-4 imgfornews">
                        <img src="{{imgsrc}}" class="card-img-top" alt="..." style="object-fit: cover; max-height: 199px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">{{{name}}}</h4>
                            <p class="card-text">{{{text}}}</p>
                            <p>{{{readlnk}}}</p>
                            <p class="card-text"><small class="text-muted">{{timemodified}} <span>{{{user}}}</span></small>
                                <span style="text-align: right">{{#editlnk}}{{{editlnk}}}{{/editlnk}} {{#dellnk}}{{{dellnk}}}{{/dellnk}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {{/match}}
    </div>




</div>


<style>
    .imgfornews{
        align-items: center;
        display: flex;
    }
    .card-deck.vavt-all-news .card {
        margin-bottom: 20px;
        min-width: 200px;
        /*max-width: 200px;*/
    }
    .vavt-all-news .card-img-top
    {
        object-fit: cover;
        max-height: 180px;
    }
</style>
