<div class="row">
    {{#addbtn}}
        <div class="col-md-12" style="margin-bottom: 20px;">
            {{{addbtn}}}
            <hr>
        </div>
    {{/addbtn}}

    <div class="col-md-12 text-center">
        <div style="display: flex; flex-direction: row; width: 100%; gap: 30px;">
            <div style="display: flex; width: 50%; justify-content: flex-end;">
                <a href="#part1" class="btn btn-outline-primary">Проекты Центра</a>
            </div>
            <div style="display: flex; width: 50%; justify-content: flex-start;">
                <a href="#part2" class="btn btn-outline-primary">Инициативы выпускников</a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 30px;">


    <div class="col-md-12">
        <h3 id="part1">Проекты Центра</h3>
        {{#match}}
            <div class="card cardprojectblock mb-3" style="max-width: 1100px;">
                <div class="row no-gutters">
                    <div class="col-md-4 imgforevent">
                        <img src="{{imgsrc}}" class="card-img-top" alt="..." style="object-fit: cover; max-height: 199px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div style="display: flex; justify-content: space-between;">
                                <h4 class="card-title">
                                    <span style="font-size: 1.6rem;" class="addfavoritevavt {{has_addfav}}" data-plugin="project" data-objid="{{eventid}}" aria-label="Добавить в избранное" title="Добавить в избранное"></span>
                                    {{{name}}}
                                </h4>
                            </div>
                            <p class="card-text">{{{text}}}</p>
                            <p>{{{readlnk}}} <span style="text-align: right">        {{#editlnk}}{{{editlnk}}}{{/editlnk}} {{#dellnk}}{{{dellnk}}}{{/dellnk}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        {{/match}}


            <hr class="yellowhr">
            <h3 id="part2">Инициативы выпускников</h3>
        {{#iniciativa}}
            <div class="card cardprojectblock mb-3" style="max-width: 1100px;">
                <div class="row no-gutters">
                    <div class="col-md-4 imgforevent">
                        <img src="{{imgsrc}}" class="card-img-top" alt="..." style="object-fit: cover; max-height: 199px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div style="display: flex; justify-content: space-between;">
                                <h4 class="card-title">
                                    <span style="font-size: 1.6rem;" class="addfavoritevavt {{has_addfav}}" data-plugin="project" data-objid="{{eventid}}" aria-label="Добавить в избранное" title="Добавить в избранное"></span>
                                    {{{name}}}
                                </h4>
                            </div>
                            <p class="card-text">{{{text}}}</p>
                            <p>{{{readlnk}}} <span style="text-align: right">        {{#editlnk}}{{{editlnk}}}{{/editlnk}} {{#dellnk}}{{{dellnk}}}{{/dellnk}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        {{/iniciativa}}
    </div>




</div>

<div class="row text-center">
    <div class="col-md-12">
        <a class="sendmyproject" href="{{btnadd_link}}">
            <img src="{{picture_btn_add}}">
        </a>
    </div>
</div>


<style>
    .cardprojectblock{
        border: none;
    }
    .cardprojectblock .imgforevent img{
        border-radius: 15px;
    }
    .yellowhr{
        border: 1px solid #ffaa1b;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .sendmyproject img:hover{
        -webkit-box-shadow: 5px 5px 25px -5px rgba(34, 60, 80, 0.6);
        -moz-box-shadow: 5px 5px 25px -5px rgba(34, 60, 80, 0.6);
        box-shadow: 5px 5px 25px -5px rgba(34, 60, 80, 0.6);
    }
    .imgforevent{
        width: 100%;
        align-items: center;
        display: flex;
        object-fit: cover;
        height: 199px;
        border-radius: 10px;
    }

</style>
