<div class="row">
    <div class="col-md-12">
        <div class="card-deck vavt-teachers">
            {{#teacher}}
                <div class="card">
                    <img src="{{photo}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title" style="font-weight: 700;">{{{name}}}</h2>
                        <p class="card-text">{{{description}}}</p>
                    </div>
                    <div class="card-footer text-muted bckgnone">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{count}}">
                            Подробнее
                        </button>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{count}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                                            <span aria-hidden="true" style="font-size: 3rem;">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"> <img src="{{photo}}" class="card-img-top" alt="..."></div>
                                    <div class="col-md-8">
                                        <h2 style="font-weight: 700;">{{name}}</h2>
                                        {{{full_description}}}
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/teacher}}
        </div>
    </div>
</div>

<style>
    .vavt-teachers .card{
        min-width: 250px;
    }
</style>