<div class="grid_tile_content">
    {{{resulthtml}}}
</div>


<style>

    .grid_tile_content h2{
        font-weight: 500;
        color: #000;
    }

    .grid_tile_content .grid-block .grid-card{
        border-radius: 7px;
        box-shadow: 8px 8px 30px rgb(69 71 132 / 15%);
        position: relative;
    }

    .grid_tile_content .grid-block .grid-card .crklfvt{
        font-size: 1.6rem;
        position: absolute;
        right: 10px;
        top: 5px;
        border-radius: 50%;
        background: #4e4e4e;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid_tile_content .grid-block .grid-card .crklfvt .addfavoritevavt{
        color: #fff;
    }
    .grid_tile_content .grid-block .grid-card .crklfvt .addfavoritevavt.addfav:before{
        color: #fff;
    }

    .grid_tile_content .grid-block .grid-card p{
        font-weight: 300;
        font-size: 1.05rem;
        padding: 5px 10px;
    }

    .grid_tile_content .grid-block .grid-card img{
        border-radius: 8px 8px 0 0;
        width: 100%;
    }

    .grid-block{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        row-gap: 12px;
        justify-content: space-around;
        gap: 20px;
        margin-bottom: 40px;
    }
</style>