<div class="row">
    <div class="col-md-12">
        <table class="generaltable  tablesorter" id="tablealumni">
            <thead>
            <tr>
                <th>ФИО</th>
                <th data-sorter="false">Сайт предприятия</th>
                <th>Предприятие</th>
                <th class="filter-select filter-exact" data-placeholder="Все">Регион</th>
                <th class="filter-select filter-exact" data-placeholder="Все">Специализация</th>
                <th data-sorter="false">Должность</th>
                <th data-sorter="false">Польза</th>
                <th class="sorter-false filter-false" data-sorter="false" data-filter="false">Сообщение</th>
            </tr>
            </thead>
            <tbody>
            {{#array}}
                {{#.}}
                <tr>
                    <td>{{{name}}}</td>
                    <td>{{webpage}}</td>
                    <td>{{orgname}}</td>
                    <td>{{region}}</td>
                    <td>{{userapeciality}}</td>
                    <td>{{userposition}}</td>
                    <td>{{polsa}}</td>
                    <td style="text-align: right;">{{{msg}}}</td>
                </tr>
                {{/.}}
            {{/array}}
            </tbody>
        </table>
    </div>
</div>
<style>
    .tablesorter-bootstrap thead th {
        font: 700 16px/20px Arial, Sans-serif;
    }
    .tablesorter-bootstrap:not(.table-dark) thead:not(.thead-dark) .tablesorter-header{
        background-color: #940d6c;
        color: #fff;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    input.tablesorter-filter.form-control.disabled  { display: none; }
</style>
